*/?*.[Rr][Dd]ata
*/?*CharlieTempMP
nosync
data
Pipeline2
dlls
NGFMfitDistr.Rcheck
Rpackage-001
tmpfigure
tmpfigure2
figure
*/?*.pdf
*/?*.png
*/?*.jpg
*/?*.snm
*/?*.out
*/?*.nav
*/?*.log
*/?*.aux
*/?*.toc
tempFiles
recyleBin
slidesTmp
references
*/?*archive
*/?*_minted-workflow
